@model IEnumerable<movie_rental_app.Models.Movie>

@{

    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3 class="bg-primary p-3 text-white">@Model.ToList().Count  Movies in our database</h3>
<div class="row mt-3">
    @foreach (var movie in Model)
    {
    <div class="col-lg-4 col-md-6 col-sm-12 mb-3">
        <div class="card" style="width: 100%;">
            <a href="@Url.Action("Details/" + movie.Id)">
                <img class="card-img-top" src="@movie.Image" alt="Card image cap" height="500">
            </a>
            @if (movie.Quantity < 10)
            {
                <div class="alert alert-warning">
                    <span class="badge badge-light">@movie.Quantity</span>
                    Movies in stock only
                </div>
            } else
            {
                <div class="alert alert-success">
                <span class="badge badge-light">@movie.Quantity</span>
                Movies in stock
            </div>
            }
            <div class="card-body">
                <div class="card-text">
                    @Html.ActionLink(movie.Name, "Details/" + movie.Id, new object { }, new { @class = "h3" })
                    <p class="mt-3">
                        Genre: @movie.Genre<br>
                        Release Date: @String.Format("{0:yyyy}", movie.ReleaseDate)
                    </p>
                </div>
            </div>
        </div>
    </div>
    }
</div>
<button class="btn btn-primary btn-lg">
    @Html.ActionLink("Add New Movie", "New", new object { }, new { @class = "text-white" })
</button>