@model movie_rental_app.ViewModels.NewCustomerViewModel

@{
    if (!Model.WebsiteTitle.IsEmpty())
    {
        ViewBag.Title = Model.WebsiteTitle;
    } else
    {
        ViewBag.Title = "Add new customer";
    }

    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="bg-primary p-3 text-white mb-4">@ViewBag.Title</h2>

@using (Html.BeginForm("Save", "Customers"))
{
    <div class="row">
        <div class="col-sm-6">
            <div class="form-group">
                @Html.LabelFor(mod => mod.Customer.Name)
                @Html.TextBoxFor(mod => mod.Customer.Name, new { @class = "form-control" })
                @Html.ValidationMessageFor(mod => mod.Customer.Name, "Entered Name is not valid!", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                @Html.LabelFor(mod => mod.Customer.Dob)
                @Html.TextBoxFor(mod => mod.Customer.Dob, "{0:d MMM yyyy}" , new { @class = "form-control" })
            </div>
        </div>

        <div class="col-sm-6">
            <div class="form-group">
                @Html.LabelFor(mod => mod.Customer.MembershipTypeId)
                @Html.DropDownListFor(mod => mod.Customer.MembershipTypeId, new SelectList(Model.MembershipTypes, "Id", "MembershipName"), "Select your membership type", new { @class = "form-control" })
            </div>
            <div class="form-check mb-2">
                @Html.CheckBoxFor(mod => mod.Customer.IsSubscribedToNewsletter) Subscribe to our Newsletter!
            </div>
            @Html.HiddenFor(mod => mod.Customer.Id)
            <button type="submit" class="btn btn-primary">
                Save Customer
            </button>
        </div>
    </div>
}

